@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Merienda:wght@300..900&family=Over+the+Rainbow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Merienda:wght@300..900&family=Original+Surfer&family=Over+the+Rainbow&display=swap');

body{
    margin: 0;
}

/* Logged Out View Styling */

.logged-out-view{
    background: url('https://media.giphy.com/media/cIJyNTHOIbR69gcMSb/giphy-downsized-large.gif');
    background-size: cover;
    max-width: 390px;
    height: 100vh;
    margin: 0 auto;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 110px;
    color: rgb(12, 6, 32);
}

.container > h1{
    font-size: 4rem;
    margin: 0.3em;
    font-family: "Over the Rainbow", cursive;

}


form{
    display: flex;
    font-family: "Over the Rainbow", cursive;
    flex-direction: column;
    font-size: 1.5rem;
}

form > input{
    max-width: 390px;
    font-family: "Original Surfer", sans-serif;
    font-size: 1.5rem;
    padding: 0.4em;
    border-radius: 10px;
    border: none;
}

form > button{
    font-size: 1.25rem;
    font-family: "Original Surfer", sans-serif;
    margin-top: 1em;
    padding: 0.6em;
    border: none;
}

form > button:hover{
    cursor: pointer;
}

/* Logged In View Styling */
.logged-in-view{
    display: none;
    background: url('https://media.giphy.com/media/cIJyNTHOIbR69gcMSb/giphy-downsized-large.gif');
    background-size: cover;
    max-width: 390px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

.container-two{
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 10%;
    width: 100%;
}


.container-two > textarea {
    font-family: "Original Surfer", sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    resize: none;
    font-family: "Original Surfer", sans-serif;
    height: 40px;
    width: 75%;
}

.container-two > button {
    font-family: "Original Surfer", sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
}

.container-two > button:hover {
    cursor: pointer;
}


.chats{
    height: 82%;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-color: #506477 rgb(46, 38, 38);
    scrollbar-width: thick;
}

.message-chat{
    background-color: #303b45;
    min-height: 10%;
    width: 95%;
    margin: 0 auto;
    font-size: 1.5rem;
    font-family: "Original Surfer", sans-serif;
}

.message-chat > p{
    padding: 0.4em;
    color: rgb(227, 235, 240);
}